/* iPod & iPhone Landscape 480x208 */
/*@media only screen and (max-device-width: 480px) {
}*/
/* iPod & iPhone Portrait 320x356 */
/*@media only screen and (max-device-width: 320px) {
}*/
/* iPhone 4+ */
/*@media only screen and (-webkit-min-device-pixel-ratio: 2) {
}*/
/* iPad Landscape */
/*@media (max-device-width: 1024px) and (orientation: landscape) {
}*/
/* iPad Portrait */
/*@media (max-device-width: 768px) and (orientation: portrait) {
}*/
/* Desktop */

/* All */
html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	background-color: #ffb974;
	cursor: default;
	font: 1em Arial, Helvetica, sans-serif;
	height: 356px;
	margin: 0;
	overflow: none;
	padding: 0;
}
header {
	font-variant: small-caps;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
}
#page-header {
	height: 37px;
	top: auto;
	position: fixed;
/*	z-index: 2;*/
}
h1 {
	background-color: #474747;
	font-weight: bolder;
	color: #222;
	margin: 0;
	text-shadow: #555 0 2px 3px;
	text-transform: capitalize;
}
h2 {
	background-color: #474747;
	-webkit-border-bottom-left-radius: 1em;
	border-bottom-left-radius: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-right-radius: 1em;
	font-weight: bold;
	color: #888;
	margin: 0 20%;
	text-shadow: #222 0 2px 3px;
}
#content,
#popup {
	overflow: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 38px;
	width: 100%;
}
#content { bottom: 24px; }
#popup { bottom: 0; }
#home, #add-item { margin: 10px; }
#home {
}
#add-item {
	display: none;
}
footer {
	background-color: #474747;
	bottom: 0pt;
	height: 24px;
	left: auto;
	position: fixed;
	right: auto;
	width: 100%;
/*	z-index: 1;*/
}
footer span {
	color: #888;
	display: inline-block;
	font-variant: small-caps;
	font-weight: bold;
	padding-top: .2em;
	text-align: center;
	text-decoration: none;
	text-shadow: #222 0 2px 3px;
	width: 49%;
}
ul {
	border: 1px solid #ccc;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	display: block;
/*	margin: 10px;*/
	padding: 0;
}
li {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%,
		rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(243, 243, 243, 1)),
		color-stop(51%, rgba(237, 237, 237, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
	border-bottom: 1px solid #ccc;
	display: block;
	list-style: none;
	overflow: hidden;
	padding: .5em .75em;
	text-align: left;
	vertical-align: middle;
	whitespace: nowrap;
}
li:first-child {
	-webkit-border-top-left-radius: .5em;
	border-top-left-radius: .5em;
	-webkit-border-top-right-radius: .5em;
	border-top-right-radius: .5em;
	border-top: 0;
}
li:last-child {
	-webkit-border-bottom-left-radius: .5em;
	border-bottom-left-radius: .5em;
	-webkit-border-bottom-right-radius: .5em;
	border-bottom-right-radius: .5em;
	border-bottom: 0;
}
.left { float: left; }
.right { float: right; }

/* home */
.tagline {
	background-image: -webkit-linear-gradient(top, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%, rgba(212, 228, 239, 1)), color-stop(100%, rgba(134, 174, 204, 1)));
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-webkit-border-radius: .5em;
	border-radius: .5em;
	color: #222;
	font-style: italic;
/*	margin: 10px;*/
	padding: 10px;
	text-align: center;
}
