/*global*/
html, body {
	background-color: rgb(255, 185, 116);
	font: 1em Arial, Helvetica, sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 0;
	-webkit-text-size-adjust: none;
}
header {
	font-variant: small-caps;
	height: 35px;
	left: auto;
	position: absolute;
	text-align: center;
	top: auto;
	width: 100%;
	z-index: 2;
}
header h1 {
	background-color: #474747;
	font-weight: bolder;
	color: #222;
	margin: 0;
	text-shadow: #555 0 2px 3px;
	text-transform: capitalize;
}
header h2 {
	background-color: #474747;
	-webkit-border-bottom-left-radius: 1em;
	border-bottom-left-radius: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-right-radius: 1em;
	font-weight: bold;
	color: #888;
	margin: 0 20%;
	text-shadow: #222 0 2px 3px;
}
#add_icon, #back_icon, #close_icon {
	background-color: #252525;
	border: 1px solid #555;
	-webkit-border-radius: .25em;
	border-radius: .25em;
	color: #ccc;
	font-size: 1em;
	font-weight: bolder;
	padding: .25em .5em;
	text-shadow: #000 0 2px 3px;
}
#close_icon {
	background-color: rgb(181, 61, 86);
/*background-color: #7e2217;*/
	display: none;
}
.ileft, .iright {
	position: fixed;
	top: 2px;
	z-index: 6;
}
.ileft { left: 2px; }
.iright { right: 2px; }
#content, #popup {
	overflow-y: scroll;
	position: relative;
	top: 38px;
	width: 100%;
	height: 294px;
	-webkit-overflow-scrolling: touch;
	z-index: 1;
}
#content { bottom: 24px;}
#popup {
	background-color: rgba(0, 0, 0, .95);
	bottom: 0;
	display: none;
	/*z-index: 3;*/
}
.hidden { margin: 10px -12px; }
.lpanel, .rpanel {
	display: block;
	padding: 5px;
	width: 46%;
}
.lpanel {
	background-color: #888;
	color: #fff;
	float: left;
	padding-left: .5em;
	text-shadow: #222 0px 2px 3px;
}
.rpanel { float: right; }
.full {
	display: block;
	width: 100%;
}
#greyed { color: #888; }
ul {
	border: 1px solid #ccc;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	display: block;
	margin: 10px;
	padding: 0;
}
li {
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(243, 243, 243, 1) 50%,
		rgba(237, 237, 237, 1) 51%, rgba(255, 255, 255, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(243, 243, 243, 1)),
		color-stop(51%, rgba(237, 237, 237, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
	border-bottom: 1px solid #ccc;
	display: block;
	list-style: none;
	overflow: hidden;
	padding: .5em .75em;
	text-align: left;
	vertical-align: middle;
	whitespace: nowrap;
}
li:first-child {
	-webkit-border-top-left-radius: .5em;
	border-top-left-radius: .5em;
	-webkit-border-top-right-radius: .5em;
	border-top-right-radius: .5em;
	border-top: 0;
}
li:last-child {
	-webkit-border-bottom-left-radius: .5em;
	border-bottom-left-radius: .5em;
	-webkit-border-bottom-right-radius: .5em;
	border-bottom-right-radius: .5em;
	border-bottom: 0;
}
.legend {
	clear: both;
	padding: 0;
}
.legend_span, .snippet_details {
	color: #fff;
	text-shadow: rgb(242, 110, 0) 0 1px 2px;
	display: block;
	font-variant: small-caps;
	font-weight: bold;
	padding: .25em;
	text-align: center;
}
.legend_span {
	background-image: -webkit-linear-gradient(top, rgba(255, 168, 76, 1) 0%, rgba(255, 123, 13, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%, rgba(255, 168, 76, 1)), color-stop(100%, rgba(255, 123, 13, 1)));
}
.snippet_details {
	background-image: -webkit-linear-gradient(top, #ffb273, #ff9640);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0.0, #ffb273)), color-stop(1.0, #ff9640);
}
.item_closed::after, .item_opened::after, .lang_item::after {
	background-color: #474747;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 -1px 2px #fff;
	box-shadow: 0 -1px 2px #fff;
	color: #fff;
	content: "\00BB";
	float: right;
	font-weight: bold;
	padding: 0 .4em .1em;
}
.item_opened::after {
	-webkit-transform: rotate(90deg);
}
.code {
	background: none;
	border: 0;
	display: block;
	-webkit-appearance: none;
	margin: auto;
	width: 98%;
}
footer {
	background-color: #474747;
	bottom: 0;
	height: 24px;
	left: auto;
	position: absolute;
	width: 100%;
/*	z-index: 2;*/
}
footer span {
	color: #888;
	display: inline-block;
	font-variant: small-caps;
	font-weight: bold;
	padding-top: .2em;
	text-align: center;
	text-decoration: none;
	text-shadow: #222 0 2px 3px;
	width: 49%;
}

/*index.html*/
.tagline {
	background-image: -webkit-linear-gradient(top, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0%, rgba(212, 228, 239, 1)), color-stop(100%, rgba(134, 174, 204, 1)));
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-webkit-border-radius: .5em;
	border-radius: .5em;
	color: #222;
	font-style: italic;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

/*add_item.html*/
.notification, .error{
	font-size: .75em;
}
.error { background: #f2dede;
	color: #b94a48;
}
.error::before {
	content: "\2716";
	padding: 0 .25em;
}
.required::after, .notification::before {
/*	color: #b94a48;*//*rgb(181, 61, 86);*/
	color: #7e2217;
	content: "\002A ";
	font-weight: bolder;
	padding: 0 .25em;
}
input[type="text"], input[type="date"] {
	float: right;
	width: 12em;
}
select, input[type="range"] {
	float: right;
	width: 13em;
}
.actions {
	margin: 10px auto !important;
	width: 60%;
}
button {
	background-image: -webkit-linear-gradient(top, #fff, #dcdcdc);
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0.0, #fff), color-stop(1.0, #dcdcdc));;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	color: #222;
	display: inline-block;
	margin: auto; /*0 2px;*/
	outline: none;
	font-size: 1em;
	padding: .4em 1.5em .42em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	vertical-align: baseline;
}
.bright { float: right; }
